<app-nav-bar></app-nav-bar>
<div class="container" down center>
    <br/>
    <mat-card style="width: 90%;">
        <mat-card-title>
            Server
        </mat-card-title>
        <mat-card-content>
            <div class="container" down>
                <br>
                <mat-checkbox>Is Listen Server</mat-checkbox>
                <mat-form-field>
                    <mat-label>Server Port</mat-label>
                    <input matInput type="text"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Server Map</mat-label>
                    <input matInput type="text"/>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Launch Server</button>
        </mat-card-actions>
    </mat-card>
    <br/>
    <mat-card style="width: 90%;">
        <mat-card-title>
            Client
        </mat-card-title>
        <mat-card-actions>
            <button mat-raised-button color="primary">Launch Client</button>
        </mat-card-actions>
    </mat-card>
</div>
