.container {
    display: flex;
}

.container[right] {
    flex-direction: row;
}

.container[down] {
    flex-direction: column;
}

.container[center] {
    width: auto;
    align-items: center;
    justify-content: center;
}